/* Animations */
@keyframes scale {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-scale {
    animation: scale 0.2s ease-out;
}

.animate-spin {
    animation: spin 1s linear infinite;
}